.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
	// height: 15000px;
} 

body,
html {
	font-size: var(--bs-body-font-size);
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active{
		.header{ 
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
		@include media-breakpoint-up(lg) {
			padding-right: rem(17);
		}
		.header {
			@include media-breakpoint-up(lg) {
				padding-right: rem(17);
			}
		}
	}
	// min-width: 575px; 
	// -webkit-font-smoothing: antialiased;
	// position: relative;
	// overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		// background-color: $body-color;
		background-color: rgba($body-color, 0.8); 
    backdrop-filter: blur(5px);
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    /* Other browsers */
    overscroll-behavior: none;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
		// .top-nav__btn {
		// 	position: relative;
		// 	z-index: -1;
		// }
	}
}

.main-wrapper { 
	position: relative;
	width: 100%;
	overflow: hidden;
	// display: flex;
	// flex-direction: row; 
// /	overflow: scroll;
	// width: 100%; 
	// height: 100vh;
	// height: calc(var(--vh, 1vh) * 100);
	padding-top: 66px;
	@include media-breakpoint-up(md) {
		padding-top: rem(88);
	}
}
main{
	flex-grow: 1;
}
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }



h1,
h2{
	@include media-breakpoint-up(xxl) {
				font-size: rem(60);
			}
}

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	margin-bottom: var(--sTPB);
}



.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}
.fw-400 {
	font-weight: 400;
}

.fw-900 {
	font-weight: 900;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			transform:  transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		// opacity: 0;
		// @include mt;
		&.active {
			display: block;
			// opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	} 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #E6E6E6;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);
		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }




.custom-scroll {
	/* ===== Scrollbar CSS ===== */
  /* Firefox */
	--bs-primary: #DEDEDE;
 
  & {
    scrollbar-width: auto;
    scrollbar-color: var(--bs-primary) transparent;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    border-radius: 16px;
    border: 0px solid transparent;
  }

}

::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>"); 
}

.swiper-wrapper{
	
	// @include row-sw(10px, sm, 100px);
}




// .btn-outline-light,
// .btn-outline-primary{
// 	--bs-btn-color: #{$body-color};
// }

.btn,
.form-control,
.form-select{
	box-shadow: none !important;
}


.fancybox__content :focus:not(.carousel__button.is-close){
	outline: none !important;
}

.form-switch ,
.form-check-input,
.form-check{
	cursor: pointer;
}



.img-wrap-center {
	@include a-cent;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		max-width: 100%;
		max-height: 100%;
		height: auto;
	}
	img.object-fit-js{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.btn-primary {
	--bs-btn-color: #{$teal};
	--bs-btn-bg: #{$primary};
	--bs-btn-border-color: #{$primary};
	--bs-btn-hover-color: #{$primary};
	--bs-btn-hover-bg: #{$teal};
	--bs-btn-hover-border-color: #{$teal};
	--bs-btn-active-color: #{$primary};
	--bs-btn-active-bg: #{$teal};
	--bs-btn-active-border-color: #{$teal};
}

.btn-outline-primary {
	--bs-btn-border-width: 2px;
	--bs-btn-hover-color: #fff;
	--bs-btn-active-color: #fff;
}

.btn-secondary {
	--bs-btn-color: #{$primary};
	--bs-btn-bg: #{$secondary};
	--bs-btn-border-color: transparent;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #{$primary};
	--bs-btn-hover-border-color: #{$primary};
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #{$primary};
	--bs-btn-active-border-color: #{$primary};
}


.participants__filters .buttons_container button{
	padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
}
.wrapper{
	position: relative;
	overflow: hidden;
}

.participants__container{
	padding-top: 20px;
}
.vacancies{
	@media (min-width: 1200px){

		.container, .container-lg, .container-md, .container-sm, .container-xl {
			// max-width: 1140px;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.article.article,
.vacancies,
.participants__container{
	position: relative;
	z-index: 2;
	&::before{
		content: '';
		z-index: -1;
		background: #f4f6f7;
		width: 200vw;
		height: 120%;
		position: absolute;
		left: -50vw;
		top: 0;
	}
}
.article {
	padding-top: 80px;
}
.article{
	&::after{
		content: '';
		z-index: -1;
		background: #fff;
		width: 100%;
		height: calc(100% - 40px);
		position: absolute;
		left: 0;
		top: 40px;
	}
}
.wrapper__breadcrumbs{
	position: relative;
	z-index: 2;
	&::before{
		content: '';
		z-index: -1;
		background: #fff;
		width: 200vw;
		height: 100%;
		position: absolute;
		left: -50vw;
		top: 0;
	}
	
}
 
a:not([href]):not([tabindex]).btn{
	color: var(--bs-btn-color);
	&:hover{
		color: var(--bs-btn-hover-color);
		
	}
}

body{
	.pagination {
		.disabled>.page-link, .page-link.disabled {
    background-color: var(--bs-pagination-disabled-bg);
    border-color: var(--bs-pagination-disabled-border-color);
    color: var(--bs-pagination-disabled-color);
    pointer-events: none;
}
.pagination li.page-item:first-child .page-link, .pagination li.page-item:last-child .page-link{
	background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
    color: var(--bs-pagination-active-color);
}
li.page-item .page-link{

	background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    color: var(--bs-pagination-color);
    display: block;
    font-size: var(--bs-pagination-font-size);
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    position: relative;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

li.page-item.active .page-link{
	background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
    color: var(--bs-pagination-active-color);
    z-index: 3;
}
	}
}


body{
	@media (max-width: 575px){

		.vacancies__total_container {
			max-width: unset;
			width: unset;
			-webkit-flex-basis: 100%;
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
		}
		.vacancies__filter_switch_container {
    max-width: unset;
    width: unset;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    height: 3em;
}
	}
}

.aside__link{
	color: var(--bs-primary);
}

body{
	a{
		color: var(--bs-link-color);
	}
	a:focus, a:hover {
    color: var(--bs-link-hover-color);
	}
}

.section__title{
	font-size: 1.8rem;
	border-color: var(--bs-primary);
}
.dash{
	background: var(--bs-primary);
}


body input[type=radio].stylized:checked+label:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='11.5' stroke='#{$primary}'/%3E%3Ccircle cx='12' cy='12' r='7' fill='#{$primary}'/%3E%3C/svg%3E");
}
body input[type=radio].stylized+label:before { 
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='11.5' stroke='#{$primary}'/%3E%3C/svg%3E") no-repeat; 
}