mixin sSupportHead(data)
	// start sSupportHead
	+b.HEADER.sSupportHead.section#sSupportHead&attributes(attributes)
		+e.container.container.custom-container
			+soc
				+item-sos('vk', 'https://vk.com/rosmolodez')
				+item-sos('tg2', 'https://t.me/rosmolodez')
				+item-sos('dzen', 'https://dzen.ru/rosmolodez')
				+item-sos('ok2', 'https://ok.ru/rosmolodez')
				//- +item-sos('r')
				//- +item-sos('tiktok')
			+e.row.row
				.col-auto
					+e.logo(href="https://fadm.gov.ru/" target="_blank"): +img('img/svg/logo3.svg')
				.col-auto
					+e.logo(href="https://roscongress.org/" target="_blank"): +img('img/logo5.png')
	// end sSupportHead