mixin sSponsors(data)
	// start sSponsors
	+b.SECTION.sSponsors.section#sSponsors&attributes(attributes)
		.container.custom-container
			+e.row.row
				.col-lg-6
					+e.item
						+e.wrap
							+img('img/svg/logo3.svg')
							p Федеральное агентство по&nbsp;делам молодёжи (Росмолодёжь)&nbsp;&mdash; федеральный орган исполнительной власти,координатор в&nbsp;сфере молодёжной политики, создающий среду с&nbsp;равными условиями для самореализации молодёжи
				.col-lg-6
					+e.item
						+e.wrap
							+img('img/logo5.png')
							p Социально ориентированный нефинансовый институт развития, крупнейший организатор общероссийских, международных, конгрессных, выставочных, деловых, общественных, молодежных, спортивных мероприятий и&nbsp;событий в&nbsp;области культуры
	// end sSponsors