mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+e.inner
			+b.toggle-menu-mobile--js
				span
			+mnu()
			+e.row.row.d-md-none
				.col-auto
					+e.btn.btn.btn-primary(href="#") Войти
				.col-auto
					+e.btn.btn.btn-secondary(href="#") Полная регистрация
				.col-auto
					+e.btn.btn.btn-secondary(href="#") Быстрая регистрация
				


	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col
					+menu-toggle()
				.col-auto.d-none.d-md-block
					+e.btn.btn.btn-primary(href="#") Войти
				.col-auto.d-none.d-md-block
					+e.btn.btn.btn-secondary(href="#") Полная регистрация
				.col-auto.d-none.d-md-block
					+e.btn.btn.btn-secondary(href="#") Быстрая регистрация
				.col-auto
					+b.dropdown-block
						+e.toggle Баранов Антон
						+e.list 
							+e.item(href="#") Мой кабинет
							+e.item(href="#") Выйти

	// end top-nav