mixin sSupportFooter(data)
	// start sSupportFooter
	+b.FOOTER.sSupportFooter.section#sSupportFooter&attributes(attributes)
		.container.custom-container
			+e.row.row
				.col-sm
					p © 2008-2023 Федеральное агентство по делам молодежи (Росмолодёжь)
				.col-sm-auto
					a(href="#") Правовая информация
	// end sSupportFooter